.container {
    position: relative;
    width: 100%;
  }
  

  
  .suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
  }
  
  .suggestionsList.visible {
    display: block;
  }
  
  .suggestionItem {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestionItem.active {
    background-color: #007bff;
    color: white; 
  }
  
  .suggestionItem:hover {
    background-color: #f0f0f0;
  }
  

  /* multi search containe */ 
  .tagsInputContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
  }
  
  .tag {
    background-color: #007bff;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .removeTagButton {
    margin-left: 8px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }