@tailwind base;
@tailwind components;
@tailwind utilities;

.sqaureRotateLoader {
  background: linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  animation: squareShapeRotates 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

.delete-button.deleting .balls {
  animation: balls-drop 2 linear 1.25s;
}

.delete-button.deleting .filler {
  animation: fill 2.5s both;
}

.delete-button.deleting .lid {
  animation: lid-open 2.5s both;
}

@keyframes squareShapeRotates {
  0% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
  }

  33% {
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    width: 60px;
    height: 60px;
  }

  66% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
    width: 60px;
    height: 60px;
  }

  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
  }
}

@keyframes lid-open {
  0% {
    rotate: 0;
  }
  15%,
  90% {
    rotate: -75deg;
    translate: -70% -20%;
    width: 20px;
  }
}

@keyframes balls-drop {
  0%,
  20% {
    translate: -50% 0;
  }
  40% {
    scale: 1 1;
  }
  40%,
  100% {
    translate: -50% 72px;
  }

  50%,
  100% {
    scale: 2.1 1;
  }
}

@keyframes fill {
  0%,
  20% {
    translate: 0 0;
  }
  50%,
  70% {
    translate: 0 -50%;
  }
  90%,
  100% {
    translate: 0 -100%;
  }
}
